<app-navbar></app-navbar>

<div class="register-page">
<div class="wrapper">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div id="square7" class="square square-7"></div>
              <div id="square8" class="square square-8"></div>
              <div class="card card-register">
                <div class="card-header">
                  <img class="card-img" src="../../../assets/img/square1.png" alt="Card image">
                  <h4 class="card-title">Login</h4>
                </div>
                <div class="card-body">
                  <form class="form" [formGroup]="loginForm">

                    <br>

                    <!-- <mat-form-field appearance="outline" >
                        
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"></i>
                        </div>
                      </div>
                      <input matInput type="text" class="form-control" placeholder="User Name" formControlName="userName">
                      <mat-error *ngIf="loginForm.controls['userName'].hasError('required')">
                        UserName is <strong>required</strong>
                      </mat-error>
                    </div>
                </mat-form-field> -->

                <mat-form-field appearance="outline" >
                        
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-user" ></i>
                      </div>
                    </div>
                    <input style="color: #000;" matInput type="text" class="form-control" placeholder="userName" formControlName="userName">
                  </div>
                  <mat-error *ngIf="loginForm.controls['userName'].hasError('required')">
                      username is <strong>required</strong>
                    </mat-error>
                   

              </mat-form-field>

                <br>


                    
                    <mat-form-field appearance="outline" >
                        
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-lock-circle"></i>
                        </div>
                      </div>
                      <input style="color: #000;" matInput type="password" class="form-control" placeholder="Password" formControlName="password">
                    </div>
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                        password is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
                        password is <strong>wrong</strong>
                      </mat-error>

                </mat-form-field>


                    <button type="submit" class="btn btn-info btn-round btn-lg" [disabled]="!loginForm.valid" (click)="Submit()" style="margin-left: 120px;">Let me in.</button>

                  </form>
                </div>
                <!-- <div class="card-footer">
                  <a href="javascript:void(0)" class="btn btn-info btn-round btn-lg" >Get Started</a>
                </div> -->
                <div>
                    <a href="/security/register" style="color:rgb(180, 61, 174); text-align: center; margin-left: 150px;" >Create new account?</a>
                  </div>
              </div>
            </div>
          </div>
          <div class="register-bg"></div>
          <div id="square1" class="square square-1"></div>
          <div id="square2" class="square square-2"></div>
          <div id="square3" class="square square-3"></div>
          <div id="square4" class="square square-4"></div>
          <div id="square5" class="square square-5"></div>
          <div id="square6" class="square square-6"></div>
        </div>
      </div>
    </div>
</div>
</div>
    <app-footer></app-footer>