


.card-register {
    overflow: auto;
}

.mat-form-field {
display: block;
}
.in{
    display:inline-block;
}

.card-register .card-header{
    padding: 0 0 0 0;
    margin-left: 15px;
}
.mat-input-element{
    box-sizing: border-box;
}
.page-header {
    overflow: unset;
}
.card-register .card-header img {
margin-top: -100px;
}
.ce {
    margin-left: 20px;
    margin-bottom: 10px;
  
}

.mat-form-field-appearance-outline .mat-form-field-infix {
padding: 0px !important;
padding-top: 0em;
padding-bottom: 0em ;
}



input {
    background-color: rgb(223, 216, 216);
     margin-top:0.5px ;
 }
 i{
     color: #000;
 }
 
 .input-group-text{
     background-color:rgb(223, 216, 216);
 }
 .input-group-prepend .input-group-text, .input-group-prepend .input-group-text{
     border: 0px;
 }
 
 .input-group-focus{
     background-color: rgb(223, 216, 216);
 }
 .card-register .card-header .card-title{
     color: #fff;
 }