
<app-sidebar></app-sidebar>


<div class="container col-md-10 " style="width:150% ; margin-left: 17%;">
    <div class="align-middle d-flex justify-content-around">
      <button class="btn btn-info " (click)="CreateDialog()" style="text-align: center;">Add Word</button>
    </div>
<div class="container-fluid py-4 col-md-10">
    <div class="row">
        
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Authors table</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">words</th>
                   
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Controles</th>
                    
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let obj of badword.words">
                   
                    <td>
                      <p class="text-xs font-weight-bold mb-0 text-secondary">{{obj.word}}</p>
                      
                    </td>
                    
                   
                    <td  class="align-middle d-flex justify-content-around">
                      <a  class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" (click)="updateDailog(obj)">
                        Edit
                      </a>
                      <a  class="text-danger font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete user" (click)="DeleteWord(obj.id)">
                        Delete
                      </a>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
</div>
<ng-template #calldeleteDailog>

  <div style="text-align: center;">
    <h2 style="margin-right:30px ; margin-left:30px ; color:black">Are You Sure uyou want to delete this word?</h2>
    <button mat-dialog-close="yes" class="btn btn-primary" style="margin: 0px 20px 0px 20px;">Yes</button>
    <button mat-dialog-close="no" class="btn btn-secondary">No</button>
  </div>
    </ng-template>


    <ng-template #callupdateDailog>
      <div style="text-align: center;">
        <form class="example-form" style="margin-right:30px ; margin-left:30px ; color:black" >
           
            
             
        
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Bad Word</mat-label>
                <input type="text" matInput [formControl]="word" [(ngModel)]="p_data.word">
              </mat-form-field>
        <br>
        
        
            
            <button (click)="UpdateWord()" class="btn btn-primary" style="margin: 0px 20px 0px 20px;">Update</button>
        </form>
      </div>
       
        
    </ng-template>

    <ng-template #callCreateDailog>
      <div style="text-align: center;">
        <form class="example-form" style="margin-right:30px ; margin-left:30px ; color:black" >
           
            
             
        
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Bad Word</mat-label>
                <input type="text" matInput [formControl]="word">
              </mat-form-field>
        <br>
        
        
            
            <button (click)="CreateWord()" class="btn btn-primary" style="margin: 0px 20px 0px 20px;">Create</button>
        </form>
        
      </div>
        
    </ng-template>