<app-navbar></app-navbar>

<div class="index-page" >
<div class="">
<div class="wrapper  col-md-12" >
  <div class="page-header header-filter">
    <div class="squares square1" id="b"></div>
    <div  class="squares square2"id="bc"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>

    <div class="squares square7"></div>
    <div class="">
      <div class="content-center brand">
        <h1 class="h1-seo">WEKA•</h1>
        <h3>{{home.HomeInfo[0].text1}}</h3>
      </div>
    </div>
  </div>

</div></div>
<br>
<app-homeposts></app-homeposts>
<app-tostimonial></app-tostimonial>

<app-footer></app-footer>




