<div class="toRight">

    <app-sidebar></app-sidebar>
    
    <div class="container bg-gradient-danger " class="container col-md-10 " style="width:150% ; margin-left: 17%;">
    <div class="col-sm">
    
    
    <div class="container toRight"></div>
        <div class="row">
           
            <div class="col-xl-4 col-sm-6 col-12" style="height:150px ;" >
              <div class="card">
                <div class="card-content" style="background-color:#a379a8 ; border-radius: 30px;">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success display-2"> {{statistic.numberofarticle[0].countOfArticle}} </h3>
                        <span>Number of articles</span>
                      </div>
                      <div class="align-self-center">
                        <i  class="tim-icons icon-single-copy-04 text-lg text-warning " style="font-size:xx-large"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-4 col-sm-6 col-12" style="height:150px ;" >
              <div class="card">
                <div class="card-content" style="background-color:#a379a8 ; border-radius: 30px;">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success display-2">{{repoService.NumOfUsers[0].numberOfUsers}}</h3>
                        <span >New Clients</span>
                      </div>
                      <div class="align-self-center">
                        <i  class="tim-icons icon-single-02 text-lg text-primary " style="font-size:xx-large"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-sm-6 col-12" style="height:150px ;" >
              <div class="card">
                <div class="card-content" style="background-color:#a379a8 ; border-radius: 30px;">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success display-2"> {{ statistic.profit[0].getTheProfet}}</h3>
                        <span>Total profit</span>
                      </div>
                      <div class="align-self-center">
                        <i  class="tim-icons icon-coins text-lg text-success " style="font-size:xx-large"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-4 col-sm-6 col-12" style="height:150px ;" >
              <div class="card">
                <div class="card-content" style="background-color:#a379a8 ; border-radius: 30px;">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success display-2">{{statistic.losses[0].getTheLosses}}  </h3>
                        <span>Total losses </span>
                      </div>
                      <div class="align-self-center">
                        <i  class="tim-icons icon-wallet-43 text-lg text-danger " style="font-size:xx-large"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-xl-4 col-sm-6 col-12" style="height:150px ;" >
              <div class="card">
                <div class="card-content" style="background-color:#a379a8 ; border-radius: 30px;">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success display-2">{{statistic.countFavorite[0].countOfCommentt}}  </h3>
                        <span>Nomber of Favorits </span>
                      </div>
                      <div class="align-self-center">
                        <i  class="tim-icons icon-shape-star text-lg text-warning " style="font-size:xx-large"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-4 col-sm-6 col-12" style="height:150px ;" >
              <div class="card">
                <div class="card-content" style="background-color:#a379a8 ; border-radius: 30px;">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success display-2">{{statistic.countComment[0].countOfCommentt}}  </h3>
                        <span>Total Comments </span>
                      </div>
                      <div class="align-self-center">
                        <i  class="tim-icons icon-chat-33 text-lg text-default " style="font-size:xx-large"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        <!-- </app-home>  -->
    
    
        
        
    </div>
    </div>


   
