<div class="col-lg-12"> 
    <section class="blog-posts">
                <div class="blog-post">
                      
                      <div class="blog-thumb">
                        <img src="./assets/img/{{articleImage}}" alt="">
                      </div>
                      <div class="down-content">
                    <span>{{articleTitel}}</span>
                    <a href="post-details.html"><h4>Lifestyle in the mountains of East Asia</h4></a>
                    <ul class="post-info">
                      <li><a  href="#"></a></li>
                      <li><a href="#">May 31, 2020</a></li>
                      <li><a href="#">12 Comments</a></li>
                    </ul>
                    <p>{{articleGrapgh}}<a rel="nofollow" href="https://templatemo.com/contact" target="_parent">Contact TemplateMo</a> for more info. Thank you.</p>
                    <div class="post-options">
                      <div class="row">
                        <div class="col-6">
                          <ul class="post-tage">
                            <button class="btn btn-success btn-icon btn-round fa fa-heart"><span style="color:#fff ;font-size: 12px;">{{views}}</span></button>
                            
                          </ul>
                        </div>
                        <div class="col-6">
                          <ul class="post-share">
                            <button class="btn btn-primary btn-icon btn-round fa fa-comment"><span style="color:#fff ;font-size: 12px;">{{views}}</span></button>
                          </ul>
                        </div>
                      </div>
                    </div>
                      </div>
                </div>
      </section>
      </div>