<div>
  <footer class="footer col-md-12">
    <div class="container col-md-10">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">WEKA•</h1>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a routerLink="../../" class="nav-link">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="../../aboutUs" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="../../contact/ContactUs" class="nav-link">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="../../security/login" class="nav-link">
                Login
              </a>
            </li>
           
          </ul>
        </div>
        <!-- <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://creative-tim.com/contact-us" class="nav-link">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a href="https://creative-tim.com/about-us" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="https://creative-tim.com/blog" class="nav-link">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a href="https://opensource.org/licenses/MIT" class="nav-link">
                License
              </a>
            </li>
          </ul>
        </div> -->
       
        
        
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a target="_blank" href="https://twitter.com" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
              <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a target="_blank" href="https://dribbble.com" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
              <i class="fab fa-dribbble"></i>
            </a>
          </div>
        </div>
        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.2673127410135!2d35.97868841177172!3d31.980768287688477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151b6096058037ad%3A0x434d4dcb1a52031b!2sFreij%20Bakery!5e0!3m2!1sen!2sjo!4v1662378452667!5m2!1sen!2sjo" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
      </div>
    </div>
  </footer>
  </div>